.appBanner{
    color:#ffffff;
	padding:12px 10px 10px 60px;
    
	font-size: 20px;
    text-shadow:0 2px 0 black;
    font-weight:bold;
	background:url(../resources/asset/image/header2.png) no-repeat 0 0 ;
}
